{namespace neos=Neos\Neos\ViewHelpers}
{namespace taxonomy=Sitegeist\Taxonomy\ViewHelpers}

<f:form action="changeContext" class="neos-inline" method="get">

    <f:form.hidden name="contextNode" value="{contextNode.contextPath}" />

    <f:form.hidden name="targetAction" value="{targetAction}" />
    <f:form.hidden name="targetProperty" value="{targetProperty}" />

    <f:for each="{contentDimensionOptions}" as="dimensionConfiguration" key="dimensionKey">
        <f:form.select name="dimensions[{dimensionKey}]" options="{dimensionConfiguration.presets}" value="{taxonomy:dimensionInformation(node: contextNode, dimension: dimensionKey)}" additionalAttributes="{onchange:'this.form.submit()'}" />
    </f:for>

</f:form>
