{namespace neos=Neos\Neos\ViewHelpers}

<tr>
    <td>
        <f:for each="{taxon.parents}" as="parentNode" iteration="iterator">
            &nbsp; &nbsp; &nbsp;
        </f:for>

        <f:if condition="{taxon.parents}">
            <f:then>
                <i class="fas fa-caret-right" ></i>
            </f:then>
            <f:else>
                <i class="{taxon.node.nodeType.fullConfiguration.ui.icon}" ></i>
            </f:else>
        </f:if>
        &nbsp;
        {taxon.node.properties.title}
    </td>
    <td>
        <f:if condition="{taxon.defaultNode}">{taxon.defaultNode.properties.title}</f:if>
    </td>
    <td>
        {taxon.node.properties.description}
    </td>
    <td>
        <div class="neos-pull-right">

            <f:security.ifAccess privilegeTarget="Sitegeist.Taxonomy:Module.ManageTaxonomyActions">

            <f:link.action action="newTaxonomy" arguments="{parent : taxon.node.contextPath}" title="{f:translate(id: 'module.taxonRecursive.addSubTaxon')}"  class="neos-button neos-button-primary">
                <i class="fas fa-plus"></i>
            </f:link.action>

            <f:form action="editTaxonomy" class="neos-inline">
                <f:form.hidden name="taxonomy" value="{taxon.node.contextPath}" />
                <f:form.button  title="{f:translate(id: 'module.taxonRecursive.editTaxon')}" data="{neos-toggle: 'tooltip'}" class="neos-button neos-button-primary">
                    <i class="fas fa-pencil-alt"></i>
                </f:form.button>
            </f:form>

            <f:if condition="{taxon.autoCreated = false}" >
                <button class="neos-button neos-button-danger" title="{f:translate(id: 'module.taxonRecursive.deleteTaxon')}" data-toggle="modal" href="#deleteTaxonomx_{taxon.node.identifier}" data-neos-toggle="tooltip">
                    <i class="fas fa-trash-alt icon-white"></i>
                </button>

                <div class="neos-hide" id="deleteTaxonomx_{taxon.node.identifier}">
                    <div class="neos-modal-centered">
                        <div class="neos-modal-content">
                            <div class="neos-modal-header">
                                <button type="button" class="neos-close neos-button" data-dismiss="modal"></button>
                                <div class="neos-header">Do you really want to delete the taxonomy "{taxon.node.properties.title}"? This action cannot be undone.</div>
                            </div>
                            <div class="neos-modal-footer">
                                <a href="#" class="neos-button" data-dismiss="modal">Cancel</a>
                                <f:form action="deleteTaxonomy" arguments="{taxonomy: taxon.node}" class="neos-inline">
                                    <button class="neos-button neos-button-danger" title="Delete this taxonomy">Yes, delete this taxonomy</button>
                                </f:form>
                            </div>
                        </div>
                    </div>
                    <div class="neos-modal-backdrop neos-in"></div>
                </div>

            </f:if>

            </f:security.ifAccess>

        </div>
    </td>
</tr>

<f:for each="{taxon.children}" as="child">
    <f:render partial="TaxonRecursive" arguments="{taxon: child}" />
</f:for>

