{namespace neos=Neos\Neos\ViewHelpers}
{namespace taxonomy=Sitegeist\Taxonomy\ViewHelpers}

<tr>
    <td>
        <i class="{taxon.nodeType.fullConfiguration.ui.icon}" ></i>
    </td>
    <td>
        <taxonomy:pathInformation node="{taxon}" />
    <td>
        {taxon.properties.title}
    </td>
    <td>
        {taxon.properties.description}
    </td>
    <td>
        <div class="neos-pull-right">
            <f:link.action action="taxonomy" arguments="{taxonomy: taxon}" title="{f:translate(id: 'module.taxonRecursive.showTaxon')}" data="{neos-toggle: 'tooltip'}" class="neos-button neos-button-primary">
                <i class="fas fa-eye"></i>
            </f:link.action>

            <f:link.action action="newTaxonomy" arguments="{parent : taxon.contextPath}" title="{f:translate(id: 'module.taxonRecursive.addSubTaxon')}"  class="neos-button neos-button-primary">
                <i class="fas fa-plus"></i>
            </f:link.action>

            <f:form action="editTaxonomy" class="neos-inline">
                <f:form.hidden name="taxonomy" value="{taxon.contextPath}" />
                <f:form.button  title="{f:translate(id: 'module.taxonRecursive.editTaxon')}" data="{neos-toggle: 'tooltip'}" class="neos-button neos-button-primary">
                    <i class="fas fa-pencil-alt"></i>
                </f:form.button>
            </f:form>

            <f:if condition="{taxon.autoCreated = false}" >
                <f:form action="deleteTaxonomy" class="neos-inline">
                    <f:form.hidden name="taxonomy" value="{taxon.contextPath}" />
                    <f:form.button  title="{f:translate(id: 'module.taxonRecursive.deleteTaxon')}" data="{neos-toggle: 'tooltip'}" class="neos-button neos-button-primary">
                        <i class="fas fa-trash"></i>
                    </f:form.button>
                </f:form>
            </f:if>

        </div>
    </td>
</tr>

<f:for each="{taxon.childNodes}" as="child">
    <f:render partial="TaxonRecursive" arguments="{taxon: child, basePath: basePath, level: '{taxonomy:increment(value:level)}' }" />
</f:for>

