/* css-modules:css-modules://9jepfGOOxxm6kO3NLT1b2CJ_589XM4yZgOSvkB80id8.css */
.EkaHVG_button.EkaHVG_button {
  text-align: left;
  margin-top: 1em;
}
.EkaHVG_icon.EkaHVG_icon {
  margin-right: 1em;
}

/* css-modules:css-modules://2JddOJyHHk7J_wOKBUuiqaiHbp5VipzL5jYPYtUfDFI.css */
.wzgIPG_taxonomyTreeSelect {
  max-height: calc(100vh - 82px);
  padding: 1em;
  overflow: auto;
}
.wzgIPG_list {
  margin: 0;
  padding: 0 0 0 15px;
  list-style-type: none;
}
.wzgIPG_item {
  position: relative;
}
.wzgIPG_details {
  margin-left: -15px;
}
.wzgIPG_isDirty {
  border-left: 2px solid var(--colors-Warn);
  height: 24px;
  position: absolute;
  top: 0;
  left: -25px;
}
.wzgIPG_label {
  align-items: center;
  min-height: 24px;
  display: inline-flex;
}
.wzgIPG_label .wzgIPG_icon {
  text-align: center;
  width: 2em;
  display: inline-block;
}
.wzgIPG_label .wzgIPG_title {
  margin-right: 1em;
  display: inline-block;
}
.wzgIPG_checkbox:checked + :is(.wzgIPG_label .wzgIPG_title) {
  color: var(--colors-PrimaryBlue);
}
.wzgIPG_label .wzgIPG_nodePath {
  opacity: .5;
  display: inline-block;
}
label.wzgIPG_label {
  cursor: pointer;
}
.wzgIPG_checkbox {
  display: none;
}
