{namespace neos=Neos\Neos\ViewHelpers}
<f:layout name="BackendSubModule" />

<f:section name="content">
    <h2>{taxonomy.path}</h2>
    <legend>{f:translate(id: 'module.editTaxonomy')} "{taxonomy.properties.title}"</legend>

    <f:form action="updateTaxonomy">
        <fieldset>

            <f:form.hidden name="taxonomy" value="{taxonomy.contextPath}" />

            <div class="neos-control-group">
                <label class="neos-control-label" for="title">{f:translate(id: 'module.title')}</label>
                <f:form.textfield name="title" id="title" value="{taxonomy.properties.title}"/>
            </div>
            <div class="neos-control-group">
                <label class="neos-control-label" for="description">{f:translate(id: 'module.description')}</label>
                <f:form.textarea name="description" id="description" value="{taxonomy.properties.description}"/>
            </div>

            <f:render partial="{nodeTypeName}" arguments="{_all}" />

            <f:link.action class="neos-button" action="vocabulary" arguments="{vocabulary: vocabulary}">{f:translate(id: 'module.cancel')}</f:link.action>

            <f:form.submit value="{f:translate(id: 'module.save')}" class="neos-button neos-button-primary" />
        </fieldset>
    </f:form>
</f:section>
