{namespace neos=Neos\Neos\ViewHelpers}
<f:layout name="BackendSubModule" />

<f:section name="content">
    <div class="neos-row-fluid">
        <div class="neos-span6">
            <legend>{f:translate(id: 'vocabulary')}: {vocabulary.properties.title}</legend>
        </div>
        <f:if condition="{defaultVocabulary}">
            <div class="neos-span6">
                <legend>{f:translate(id: 'generic.default')}: {defaultVocabulary.properties.title}</legend>
            </div>
        </f:if>
    </div>

    <f:form action="updateVocabulary">
        <fieldset>

            <f:form.hidden name="vocabulary" value="{vocabulary.contextPath}" />

            <label class="neos-control-label" for="title">{f:translate(id: 'properties.title', source: 'NodeTypes/Vocabulary')}</label>
            <div class="neos-row-fluid">
                <div class="neos-span6">
                    <div class="neos-control-group">
                        <f:form.textfield name="title" class="neos-span12" id="title" value="{vocabulary.properties.title}"/>
                    </div>
                </div>
                <f:if condition="{defaultVocabulary}">
                    <div class="neos-span6">
                        <input type="text" class="neos-span12" value="{defaultVocabulary.properties.title}" readonly />
                    </div>
                </f:if>
            </div>

            <label class="neos-control-label" for="description">{f:translate(id: 'properties.description', source: 'NodeTypes/Vocabulary')}</label>

            <div class="neos-row-fluid">
                <div class="neos-span6">
                    <div class="neos-control-group">
                        <f:form.textarea name="description" class="neos-span12" id="description" value="{vocabulary.properties.description}"/>
                    </div>
                </div>
                <f:if condition="{defaultVocabulary}">
                    <div class="neos-span6">
                        <input type="text" class="neos-span12" value="{defaultVocabulary.properties.description}" readonly />
                    </div>
                </f:if>
            </div>

            <f:link.action class="neos-button" action="index" arguments="{root: taxonomyRoot}">{f:translate(id: 'generic.cancel')}</f:link.action>
            <f:form.submit value="{f:translate(id: 'generic.save')}" class="neos-button neos-button-primary" />

        </fieldset>
    </f:form>
</f:section>
