{namespace neos=Neos\Neos\ViewHelpers}
<f:layout name="BackendSubModule" />

<f:section name="content">

    <legend>Vocabularies</legend>

    <f:if condition="{vocabularies}">
        <f:then>
            <table class="neos-table">
                <thead>
                <tr>
                    <th></th>
                    <th>Path</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <f:for each="{vocabularies}" as="vocabulary">
                    <tr>
                        <td>
                             <i class="{vocabulary.nodeType.fullConfiguration.ui.icon}" ></i>
                        </td>
                        <td>
                            {vocabulary.path}
                        </td>
                        <td>
                            <f:link.action action="showVocabulary" arguments="{vocabulary: vocabulary.contextPath}" title="Show vocabulary">
                                {vocabulary.properties.title}
                            </f:link.action>
                        </td>
                        <td >
                            {vocabulary.properties.description}
                        </td>
                        <td class="neos-action">
                            <div class="neos-pull-right">
                                <f:link.action action="vocabulary" arguments="{vocabulary: vocabulary.contextPath}" title="Show vocabulary" data="{neos-toggle: 'tooltip'}" class="neos-button neos-button-primary">
                                    <i class="icon-pencil icon-white"></i>
                                </f:link.action>
                                <f:if condition="{vocabulary.autoCreated = false}" >
                                    <f:form action="deleteVocabulary" class="neos-inline">
                                        <f:form.hidden name="vocabulary" value="{vocabulary.contextPath}" />
                                        <f:form.button  title="Delete vocabulary" data="{neos-toggle: 'tooltip'}" class="neos-button neos-button-primary">
                                            <i class="icon-trash icon-white"></i>
                                        </f:form.button>
                                    </f:form>
                                </f:if>
                            </div>
                        </td>
                    </tr>
                </f:for>
                </tbody>
            </table>
        </f:then>
        <f:else>
            No vocabularoies yet. Please create them.
        </f:else>
    </f:if>


    <div class="neos-row-fluid">

        <f:link.action action="newVocabulary"  class="neos-button neos-button-primary" title="" >
            <i class="icon-pencil icon-white"></i> Create new vocabulary
        </f:link.action>

    </div>
</f:section>
