{namespace neos=Neos\Neos\ViewHelpers}

<f:layout name="BackendSubModule" />

<f:section name="content">

    <div class="neos-row-fluid">
        <legend>
            {f:translate(id: 'vocabularies')}
            <div class="neos-pull-right">
                <f:render partial="LanguageSelection" arguments="{targetAction: 'index', targetProperty: 'root', contentDimensionOptions: contentDimensionOptions, contextNode: taxonomyRoot}" />
            </div>
        </legend>
    </div>

    <br/><br>

    <f:if condition="{vocabularies}">
        <f:then>
            <div class="neos-content neos-fluid-container">
                <div class="neos-row-fluid">
                <f:for each="{vocabularies}" as="vocabulary" iteration="iterator">
                    <div class="neos-span3">
                        <div class="widget ">
                            <div class="widget-header">
                                <i class="fas fa-tags neos-pull-left"></i>
                                <h3>
                                    <f:link.action action="vocabulary" arguments="{vocabulary: vocabulary.node.contextPath}" title="{f:translate(id: 'vocabulary.show')}">
                                        {vocabulary.node.properties.title} <f:if condition="{vocabulary.defaultNode}">({vocabulary.defaultNode.properties.title})</f:if>
                                    </f:link.action>
                                </h3>
                            </div>

                            <div class="widget-body">
                                <p>{vocabulary.node.properties.description}</p>
                            </div>

                            <div class="widget-footer">

                                <f:security.ifAccess privilegeTarget="Sitegeist.Taxonomy:Module.ManageVocabularyActions">

                                <f:link.action action="editVocabulary" class="neos-button" title="{f:translate(id: 'generic.edit')}" arguments="{vocabulary: vocabulary.node.contextPath}" >
                                    <i class="fas fa-pencil-alt"></i>
                                </f:link.action>

                                <f:if condition="!{vocabulary.node.autoCreated}" >
                                    <button class="neos-button neos-button-danger" title="{f:translate(id: 'generic.delete')}" data-toggle="modal" href="#deleteVocabulary_{vocabulary.node.identifier}" data-neos-toggle="tooltip">
                                        <i class="fas fa-trash-alt icon-white"></i>
                                    </button>

                                    <div class="neos-hide" id="deleteVocabulary_{vocabulary.node.identifier}">
                                        <div class="neos-modal-centered">
                                            <div class="neos-modal-content">
                                                <div class="neos-modal-header">
                                                    <button type="button" class="neos-close neos-button" data-dismiss="modal"></button>
                                                    <div class="neos-header">Do you really want to delete the vocabulary "{vocabulary.node.properties.title}"? This action cannot be undone.</div>
                                                </div>
                                                <div class="neos-modal-footer">
                                                    <a href="#" class="neos-button" data-dismiss="modal">Cancel</a>
                                                    <f:form action="deleteVocabulary"  arguments="{vocabulary: vocabulary.node}" class="neos-inline">
                                                        <button class="neos-button neos-button-danger" title="Delete this vocabulary">
                                                            Yes, delete this vocabulary
                                                        </button>
                                                    </f:form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="neos-modal-backdrop neos-in"></div>
                                    </div>
                                </f:if>

                                </f:security.ifAccess>

                            </div>
                        </div>
                    </div>
                    <f:if condition="{iterator.cycle} % 4">
                        <f:else>
                            <f:if condition="{iterator.isLast}">
                                <f:else>
                                    </div><div class="neos-row-fluid">
                                </f:else>
                            </f:if>
                        </f:else>
                    </f:if>
                </f:for>
                </div>
            </div>
        </f:then>
        <f:else>
            <p>
                {f:translate(id: 'noVocabularies')}
            </p>
        </f:else>
    </f:if>

    <f:security.ifAccess privilegeTarget="Sitegeist.Taxonomy:Module.ManageVocabularyActions">

    <div class="neos-row-fluid">

        <f:link.action action="newVocabulary"  class="neos-button neos-button-primary" title="" arguments="{taxonomyRoot: taxonomyRoot}">
            <i class="fas fa-plus icon-white"></i> {f:translate(id: 'vocabulary.create')}
        </f:link.action>

    </div>

    </f:security.ifAccess>

</f:section>
