{namespace neos=Neos\Neos\ViewHelpers}
<f:layout name="BackendSubModule" />

<f:section name="content">
    <f:form action="createTaxonomy">
        <fieldset>
            <legend>{f:translate(id: 'module.createNewTaxonomyBelow')} "{parent.path}"</legend>
            <f:form.hidden name="parent" value="{parent.contextPath}" />

            <div class="neos-control-group">
                <label class="neos-control-label" for="title">{f:translate(id: 'module.title')}</label>
                <f:form.textfield name="title" id="title"/>
            </div>
            <div class="neos-control-group">
                <label class="neos-control-label" for="description">{f:translate(id: 'module.description')}</label>
                <f:form.textarea name="description" id="description"/>
            </div>

            <f:render partial="{nodeTypeName}" />

            <f:form.submit value="{f:translate(id: 'module.createTaxon')}" class="neos-button neos-button-primary" />
        </fieldset>
    </f:form>
</f:section>
