{namespace neos=Neos\Neos\ViewHelpers}
<f:layout name="BackendSubModule" />

<f:section name="content">
    <f:form action="createTaxonomy">
        <fieldset>
            <legend>{f:translate(id: 'taxon.createBelow')} "{parent.properties.title}"</legend>
            <f:form.hidden name="parent" value="{parent.contextPath}" />

            <div class="neos-control-group">
                <label class="neos-control-label" for="title">{f:translate(id: 'properties.title', source: 'NodeTypes/Taxonomy')}</label>
                <f:form.textfield class="neos-span6" name="title" id="title"/>
            </div>
            <div class="neos-control-group">
                <label class="neos-control-label" for="description">{f:translate(id: 'properties.description', source: 'NodeTypes/Taxonomy')}</label>
                <f:form.textarea class="neos-span6" name="description" id="description"/>
            </div>

            <f:render partial="{nodeTypeName}" />

            <f:link.action class="neos-button" action="vocabulary" arguments="{vocabulary: vocabulary}">{f:translate(id: 'generic.cancel')}</f:link.action>
            <f:form.submit value="{f:translate(id: 'taxon.create')}" class="neos-button neos-button-primary" />
        </fieldset>
    </f:form>
</f:section>
