{namespace neos=Neos\Neos\ViewHelpers}
<f:layout name="BackendSubModule" />

<f:section name="content">
    <f:form action="createVocabulary">
        <fieldset>
            <legend>{f:translate(id: 'module.createNewVocabulary')}</legend>
            <div class="neos-control-group">
                <label class="neos-control-label" for="title">{f:translate(id: 'module.title')}</label>
                <f:form.textfield class="neos-span6" name="title" id="title"/>
            </div>
            <div class="neos-control-group">
                <label class="neos-control-label" for="description">{f:translate(id: 'module.description')}</label>
                <f:form.textarea class="neos-span6" name="description" id="description"/>
            </div>

            <f:form.submit value="{f:translate(id: 'module.createVocabulary')}" class="neos-button neos-button-primary" />
        </fieldset>
    </f:form>
</f:section>
