{namespace neos=Neos\Neos\ViewHelpers}
{namespace taxonomy=Sitegeist\Taxonomy\ViewHelpers}
<f:layout name="BackendSubModule" />

<f:section name="content">
    <div class="neos-row-fluid">
        <legend>
            Taxonomy "{taxonomy.properties.title}"
            <div class="neos-pull-right">
                <f:render partial="LanguageSelection" arguments="{targetAction: 'taxonomy', targetProperty: 'taxonomy', contentDimensionOptions: contentDimensionOptions, contextNode: taxonomy}" />
            </div>
        </legend>
    </div>

    <p>
        {taxonomy.properties.description}
    </p>

    <table class="neos-table">
        <thead>
        <tr>
            <th>
            </th>
            <th>Path</th>
            <th>Title</th>
            <th>Description</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            <f:for each="{taxonomy.childNodes}" as="taxon">
                <f:render partial="TaxonRecursive" arguments="{taxon: taxon, basePath: vocabulary.path ,level: 0 }" />
            </f:for>
        </tbody>
    </table>

    <div class="neos-row-fluid">
        <f:link.action action="vocabulary" class="neos-button" title="" arguments="{vocabulary: vocabulary}" >
            <i class="icon-backward icon-white"></i> Back to Vocabulary
        </f:link.action>
        <f:link.action action="newTaxonomy" class="neos-button neos-button-primary" title="" arguments="{parent: taxonomy.contextPath}" >
            <i class="icon-plus icon-white"></i> Create new Taxonomy
        </f:link.action>

    </div>

</f:section>


