{namespace neos=Neos\Neos\ViewHelpers}
<f:layout name="BackendSubModule" />

<f:section name="content">
    <legend>Taxonomy "{taxonomy.path}"</legend>
    <table class="neos-table">
        <thead>
        <tr>
            <th>

            </th>
            <th>Path</th>
            <th>Title</th>
            <th>Description</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            <f:render section="itemAndSub" arguments="{item: taxonomy, level: 0}" />
        </tbody>
    </table>

    <div class="neos-row-fluid">

        <f:link.action action="newTaxonomy" class="neos-button neos-button-primary" title="" arguments="{parent: vocabulary.contextPath}" >
            <i class="icon-pencil icon-white"></i> Create new Taxonomy
        </f:link.action>


    </div>

</f:section>


<f:section name="itemAndSub">
    <tr>
        <td>
            <i class="{item.nodeType.fullConfiguration.ui.icon}" ></i>
        </td>
        <td>
            {item.path}
        </td>
        <td>
            {item.properties.title}
        </td>
        <td>{item.properties.description}</td>
        <td>
            <div class="neos-pull-right">
                <f:link.action action="newTaxonomy" arguments="{parent : item.contextPath}" title="Add taxonomy">
                    <i class="icon-plus icon-white"></i>
                </f:link.action>
            </div>
        </td>
    </tr>

    <f:for each="{item.childNodes}" as="child">
        <f:render section="itemAndSub" arguments="{item: child, level: '{level + 1}' }" />
    </f:for>

</f:section>
