{namespace neos=Neos\Neos\ViewHelpers}
{namespace taxonomy=Sitegeist\Taxonomy\ViewHelpers}
<f:layout name="BackendSubModule" />

<f:section name="content">
    <div class="neos-row-fluid">
        <legend>
            {f:translate(id: 'module.vocabulary')} "{vocabulary.properties.title}"
            <div class="neos-pull-right">
                <f:render partial="LanguageSelection" arguments="{targetAction: 'vocabulary', targetProperty: 'vocabulary', contentDimensionOptions: contentDimensionOptions, contextNode: vocabulary}" />
            </div>
        </legend>
    </div>


    <p>
        {vocabulary.properties.description}
    </p>

    <f:if condition="{vocabulary.childNodes}">
        <f:then>
            <table class="neos-table">
                <thead>
                <tr>
                    <th>
                    </th>
                    <th>{f:translate(id: 'module.path')}</th>
                    <th>{f:translate(id: 'module.title')}</th>
                    <th>{f:translate(id: 'module.description')}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    <f:for each="{vocabulary.childNodes}" as="taxon">
                        <f:render partial="TaxonRecursive" arguments="{taxon: taxon, basePath: vocabulary.path ,level: 0 }" />
                    </f:for>
                </tbody>
            </table>
        </f:then>
        <f:else>
            <p>
                {f:translate(id: 'module.vocabulary.noTaxons')}
            </p>
        </f:else>
    </f:if>

    <div class="neos-row-fluid">
        <f:link.action action="index" class="neos-button" title="" arguments="{root: taxonomyRoot}" >
            <i class="fas fa-backward icon-white"></i> {f:translate(id: 'module.vocabulary.backToIndex')}
        </f:link.action>
        <f:link.action action="newTaxonomy" class="neos-button neos-button-primary" title="" arguments="{parent: vocabulary.contextPath}" >
            <i class="fas fa-plus icon-white"></i> {f:translate(id: 'module.vocabulary.createNewTaxon')}
        </f:link.action>
    </div>

</f:section>
